
body{
    color: black;
    background-color: lightgray;
     text-align: center; 
     font-family: Arial, sans-serif;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    columns:  3;
}
.name{
    font-size: 16px;
    font-weight: bold;
    color: darkgreen;
    text-shadow: 1px 1px 2px gray;
}
.contact{
    font-size: 16x;
    font-weight: bold;
    color: darkgreen;
    text-shadow: 1px 1px 2px gray;
   
}
.profile_image{
    width: 50px; 
    height: 100px;
    
}